<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ticket Tagger</title>
  {% block links %}
  <link href="/img/favicon32.png" rel="icon" type="image/png" sizes="32x32">
  <link href="/css/primer.css" rel="stylesheet" />
  {# <link href="https://unpkg.com/@primer/css@^16.0.0/dist/primer.css" rel="stylesheet" /> #}
  {% endblock %}
</head>

<body>
  {% block body %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>

</html>