{% extends "_base.njk" %} 

{% block body %}
<div class="container-md clearfix p-4">
  {% if repositories | length === 0 %}
  <div class="blankslate blankslate-spacious">
    {% octicon "rocket", height= "53", class= "color-icon-info mb-3" %}
    <h3 class="mb-1">You don't seem to have any repositories added.</h3>
    <p>
      Ticket Tagger is an intelligent AI that automatically predicts labels of
      new issues in your repositories.
    </p>
    <a class="btn btn-primary my-3" href="{{ installation.html_url }}">
      Add repository
    </a>
    <p>
      <a class="btn-link" href="{{ app.html_url }}">
        Learn more
      </a>
    </p>
  </div>
  {% else %} 
  {% if new %}
  <div class="flash mt-3 flash-success">
    {% octicon "check" %} Successfully installed to
    <strong>{{ installation.account.login }}</strong>.
  </div>
  {% endif %}
  <div class="col-12 d-flex width-full py-4 border-bottom color-border-secondary">
    <div class="width-full"></div>
    <div class="d-none d-md-flex flex-md-items-center flex-md-justify-end">
      <a href="{{ installation.html_url }}" class="text-center btn btn-primary ml-3">
        {% octicon "repo", height="16" %} Add
      </a>
    </div>
  </div>
  <ul>
    {% for repository in repositories %}
    <li class="col-12 d-flex width-full py-4 border-bottom color-border-secondary">
      <div class="col-10 col-lg-9 d-inline-block">
        <div class="d-inline-block mb-1">
          <h3 class="wb-break-all">
            <a href="/{{ repository.full_name }}">{{ repository.name }}</a>
            {% if repository.private %}
            <span class="Label Label--secondary v-align-middle ml-1 mb-1">Private</span>
            {% endif %}
          </h3>
        </div>
        {% if repository.description %}
        <div>
          <p class="col-9 d-inline-block color-text-secondary mb-2 pr-4">
            {{ repository.description }}
          </p>
        </div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}