{% extends "_base.njk" %}

{% block links %}
{{ super() }}
<link href="/css/roundslider.min.css" rel="stylesheet" />
<link href="/css/repo.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="color-bg-secondary pt-3 hide-full-screen mb-5">
  <div class="d-flex mb-3 px-3 px-md-4 px-lg-5">
    <div class="flex-auto min-width-0 width-fit mr-3">
      <h1 class=" d-flex flex-wrap flex-items-center break-word f3 text-normal">
        {% if repository.private %}
        {% octicon "lock", class="color-text-secondary mr-2", width="16" %}
        {% else %}
        {% octicon "repo", class="color-text-secondary mr-2", width="16" %}
        {% endif %}
        <span class="author flex-self-stretch">
          <a class="url fn" href="/{{ repository.owner.login }}">{{ repository.owner.login }}</a>
        </span>
        <span class="mx-1 flex-self-stretch color-text-secondary">/</span>
        <strong class="mr-2 flex-self-stretch">
          <a href="/{{ repository.owner.login }}/{{ repository.name }}">{{ repository.name }}</a>
        </strong>
      </h1>
    </div>
  </div>

  <div class="container-md clearfix p-4">
    {% if updated %}
    <div class="flash">
      {% octicon "check" %}Configuration updated.
    </div>
    {% endif %}
    {% if errors.conflict %}
    <div class="flash mt-3 flash-warn">
      {% octicon "alert" %}The configuration changed before you submitted, update was aborted to prevent data loss. Please retry.
    </div>
    {% endif %}
    {% if errors.validation %}
    <div class="flash mt-3 flash-warn">
      {% octicon "alert" %}The submitted configuration failed the validation check.
    </div>
    {% endif %}
    {% if errors.permissions %}
    <div class="flash mt-3 flash-warn">
      {% octicon "alert" %}Ticket Tagger has insufficient permissions. Please <a href="https://github.com/settings/installations/{{ installation.id }}">revise your configuration</a>.
    </div>
    {% endif %}
    {# general section #}
    <div class="Subhead Subhead--spacious">
      <div class="Subhead-heading">General</div>
    </div>

    {# threshold section #}
    <div class="Subhead Subhead--spacious">
      <div class="Subhead-heading">Threshold</div>
    </div>
    <div class="mb-3">
      <div class="Box d-inline-block px-2 py-1">
        {% octicon "dot-fill", class="color-icon-danger" %} Not implemented
      </div>
    </div>
    <p>
      Ticket Tagger labels issues according to your preferences. 
      Here you can customize the classification threshold. 
      A high threshold increases the prediction quality at the expense of less frequent labelling of issues. 
      A low threshold allows Ticket Tagger to label more issues at the expense of having more frequent labelling mistakes.
      Learn more about <a class="" href="https://developers.google.com/machine-learning/crash-course/classification/precision-and-recall#precision-and-recall:-a-tug-of-war">classification thresholding</a>.
    </p>
    <form action="/{{ repository.full_name }}" method="POST">
      <div class="Box mt-4">
        <input type="hidden" name="sha" value="{{ config.sha }}" />

        <input id="threshold-value" name="threshold" type="hidden" min="0" max="100" value="65">
        <div id="arc-slider" class="rslider mt-4 mx-auto"></div>
      </div>

      {#  #}

      <div class="d-flex flex-column flex-md-row mt-4">
        <div class="col-12 py-3 px-4 col-md-4 mb-md-0 mb-3 mr-md-3 color-bg-tertiary rounded-1">
          <h4 class="f5 text-normal color-text-secondary">Selected threshold</h4>
          <span id="threshold-perc" class="f2 text-bold d-block mt-1"></span>
          <span id="threshold-text" class="f6 mt-1"></span>
        </div>

        <div class="col-md-4 mr-md-3 col-12 py-3 px-4 mb-md-0 mb-3 color-bg-tertiary rounded-1">
          <h4 class="f5 text-normal color-text-secondary">Classification probability</h4>
          <span id="class-prob-perc" class="f2 text-bold d-block mt-1"></span>
          {# <span id="class-prob-text" class="f6 mt-1"></span> #}
        </div>

        <div class="col-md-4 col-12 py-3 px-4 mb-md-0 mb-3 color-bg-tertiary rounded-1">
          <h4 class="f5 text-normal color-text-secondary mb-2">Misclassification probability</h4>
          <span id="misclass-prob-perc" class="f2 text-bold d-block mt-1"></span>
          {# <span id="misclass-prob-text" class="f6 mt-1"></span> #}
        </div>
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-primary" disabled>Save changes</button>
        <a class="btn btn-invisible" href="/{{ installation.account.login }}">Cancel</a>
      </div>
    </form>

    {# labels section #}
    <div class="Subhead Subhead--spacious mb-0 border-bottom-0">
      <h2 class="Subhead-heading">Labels</h2>
    </div>
    <div class="mb-3">
      <div class="Box d-inline-block px-2 py-1">
        {% octicon "dot-fill", class="color-icon-warning" %} Experimental
      </div>
    </div>
    <form action="/{{ repository.full_name }}" method="POST">
      <input type="hidden" name="sha" value="{{ config.sha }}" />
      <div class="Box">
        {# <input type="hidden" name="labels.version" value={{ config}} > #}
        <ul>
          {% for label, labelConfig in config.json.labels %}
          <li class="Box-row py-0">
            <div class="form-group">
              <div class="form-checkbox">
                <label for="check-label-{{ label }}">{{ label | capitalize }}</label>
                <input 
                  id="check-label-{{ label }}" 
                  type="checkbox" 
                  name="labels[{{ label }}][enabled]" 
                  {% if labelConfig.enabled %}checked{% endif %} />
                <span class="status-indicator js-status-indicator">{% octicon "check", width="16" %}</span>
                <p></p>

                <label class="mr-1" for="text-label-{{ label }}">Custom text</label>
                <input 
                  id="text-label-{{ label }}"
                  class="form-control input-sm" 
                  type="text" 
                  name="labels[{{ label }}][text]"
                  value="{{ labelConfig.text }}"
                  placeholder="Custom text" 
                  aria-label="Custom text" />
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a class="btn btn-invisible" href="/{{ installation.account.login }}">Cancel</a>
      </div>
    </form>

  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/js/roundslider.min.js"></script>
<script src="/js/repo.js"></script>
{% endblock %}
