name: Continuous Integration

on: 
  push: 
    branches: [prod, beta]
  pull_request:
    branches: [prod, beta]

jobs:
  build:
    strategy:
      matrix:
        ubuntu-version: [ubuntu-18.04, ubuntu-20.04]
        node-version: [12.x, 14.x]
    runs-on: ${{ matrix.ubuntu-version }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Get latest model version
      id: get-latest-model-version
      shell: bash
      env:
        model_uri: https://tickettagger.blob.core.windows.net/models/model.bin
      # echo "::set-output name=version::$(curl --head '${{ env.model_uri }}' --silent | grep -oP 'ETag: \K0x[0-9A-Fa-f]+')"
      run: |
        echo "version=$(curl --head '${{ env.model_uri }}' --silent | grep -oP 'ETag: \K0x[0-9A-Fa-f]+')" >> $GITHUB_OUTPUT
        
    - name: Cache model
      uses: actions/cache@v3
      id: cache-model
      with:
        path: ~/.tickettagger/models
        key: model-${{ steps.get-latest-model-version.outputs.version }}
        restore-keys: |
          model-
          
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: Cache node_modules
      uses: actions/cache@v3
      id: cache-node_modules
      with:
        path: node_modules
        key: node_modules-${{ matrix.ubuntu-version }}-${{ matrix.node-version }}-${{ hashFiles('package-lock.json') }}
        restore-keys: |
          node_modules-${{ matrix.ubuntu-version }}-${{ matrix.node-version }}-
          node_modules-${{ matrix.ubuntu-version }}-
          node_modules-
          
    - name: Install
      if: steps.cache-node_modules.outputs.cache-hit != 'true'
      run: npm ci
      
    - name: Test
      env:
        MONGO_URI: ${{ secrets.MONGO_URI }}
      run: npm test
      
    # - name: Test cli benchmark
    #   run: node bin/tickettagger.js benchmark trivial 30k 30k --minCount 50
